<!-- <p>tenant-info works!</p> -->

<app-tenant-side-bar></app-tenant-side-bar>


<div class="w3-clouds w3-display-container divNisya" style="margin-left:5.7%;height:80vh;" id="infoDiv" name="commonDivName">
    <div class="w3-display-middle" style="width:70%;">
        <div class="w3-white" style="box-shadow: 0px 2px 3px 3px black; ">
            <header class="w3-container w3-flat-belize-hole">
                <h2 class="fontSourceSansPro w3-text-white">Welcome <span id="userName"></span>
                    <span id="changePass">
                        <h6 style="display:inline;"><button
                                class="w3-btn w3-right w3-hover-blue w3-border-white w3-border" id="changeInfo"
                                 routerLink="/tenantChangeInfo">Change Info</button></h6>
                    </span>
                </h2>
            </header>
            <br>
            <div class="w3-container fontSourceSansPro">
                <input id="admin_id" name="admin_id" value="" style="display:none;">
                <h2><span class="fa fa-user-o w3-col m2 s4"></span></h2>
                <br>
                <h3><span id="actype" class="w3-rest"></span></h3>
                <br>
                <h2><span class="fa fa-home w3-col m2 s4"></span></h2>
                <br>
                <h3><span id="roomNo" class="w3-rest"></span></h3>
                <br>
                <h2><span class="fa fa-envelope-o w3-col m2 s4"></span></h2>
                <br>
                <h3><span id="email" class="w3-rest"></span></h3>
                <br>
                <h2><span class="fa fa-phone w3-col m2 s4"></span></h2>
                <br>
                <h3><span id="mobile" class="w3-rest"></span></h3>
            </div>
        </div>
        <br>
        <br>
        <div class="w3-margin-top">
            <div class="w3-third w3-light-grey">
                <header style="text-align: center;" class="fontSourceSansPro">
                    <span class="w3-border-bottom w3-border-blue w3-tag w3-jumbo w3-flat-belize-hole w3-padding-large" style="box-shadow: 0px 2px 3px 3px black;">
                        <span id="complaintsRegistered">0</span>
                        <h5 style="padding:0;margin:0;">Registered</h5>
                    </span>
                </header>
            </div>
            <div class="w3-third w3-light-grey">
                <header style="text-align: center;" class="fontSourceSansPro">
                    <span class="w3-border-bottom w3-border-blue w3-tag w3-jumbo w3-flat-belize-hole w3-padding-large" style="box-shadow: 0px 2px 3px 3px black;">
                        <span id="complaintsSolved">0</span>
                        <h5 style="padding:0;margin:0;">Completed</h5>
                    </span>
                </header>
            </div>
            <div class="w3-third w3-light-grey">
                <header style="text-align: center;" class="fontSourceSansPro">
                    <span class="w3-border-bottom w3-border-blue w3-tag w3-jumbo w3-flat-belize-hole w3-padding-large" style="box-shadow: 0px 2px 3px 3px black;">
                        <span id="complaintsPending">0</span>
                        <h5 style="padding:0;margin:0;">Pending</h5>
                    </span>
                </header>
            </div>
        </div>
    </div>
</div>
