<!-- <p>tenant-history works!</p> -->

<app-tenant-side-bar></app-tenant-side-bar>


<div class="w3-clouds w3-display-container divNisya" style="margin-left:5.7%;height:80vh;" id="infoDiv"
    name="commonDivName">
    <div class="w3-display-middle" style="width:70%;">
        <div class="w3-white" style="box-shadow: 0px 1px 2px 2px black;">
            <header class="w3-container w3-flat-belize-hole">
                <h2 class="fontSourceSansPro w3-text-white">History<span id="userName"></span></h2>
            </header>
            <br>
            <div class="w3-container w3-padding-16 w3-center">
                <table id="table" class="table table-borderedless table-striped">
                    <thead>
                        <tr>
                            <th>Problem</th>
                            <th>HandyMan</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                       
                        <tr *ngFor="let complaint of complaints">
                            <td>{{ complaint.problem }}</td>
                            <td>{{ complaint.handyman }}</td>
                            <td>{{ complaint.time }}</td>
                        </tr>
                        
                    </tbody>
                </table>

            </div>


        </div>
    </div>
</div>