<!-- <p>assign works!</p> -->

<app-admin-side-bar></app-admin-side-bar>
<div class="w3-flat-clouds w3-display-container" style="margin-left:20%;min-height:80vh;" id="assignDiv"
    name="commonDivName">
    <div style="width:90%;margin:0 auto;">
        <div class="w3-white">
            <header class="w3-container w3-flat-belize-hole">
                <h2 class="fontSourceSansPro w3-text-white">Assign Work</h2>
            </header>
            <div class="w3-container fontSourceSansPro">
                <form class="w3-margin-top" id="assignForm" method='get' action='/generateWork'>
                </form>
            </div>
        </div>
    </div>
</div>