body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-color: #eee;
  }
  
  /* Layout */
  
  #container {
    padding: 0;
    margin: 0;
    background-color: rgb(206, 57, 57);
  }
  
  #main {
    padding: 4% 1.5em;
    max-width: 55em;
    margin: 0 auto;
  }
  
  /* #header {
    padding: 1.5em;
    margin: 0 0 1em 0;
    background-color: rgb(78, 132, 177);
  } */
  
  /* #footer {
    padding: 1.5em;
    margin: 2em 0 0 0;
    background-color: rgb(68, 177, 144);
  
  } */
  
  
  /* Menu Styles */
  
  .primary-nav {
      position: fixed;
      z-index: 999;
      
      

  }
  
  .menu {
      position: relative;
      box-shadow: 2px 2px 1px 1px #000;
  }
  
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
      
  }
  
  
  /* .open-panel {
    border: none;
    background-color:rgb(175, 223, 43);
    padding: 0;
  } */
  
  .hamburger {
      /* background: rgb(42, 62, 243); */
      background-color: #1E90FF;
      position: relative;
      display: block;
      text-align: center;
      padding: 13px 0;
      width: 50px;
      height: 73px;
      left: 0;
      top: 0;
      z-index: 1000;
      cursor: pointer;
      border-top-right-radius: 5px;
  }
  
  .hamburger:before {
      content:"\2630"; /* hamburger icon */
      display: block;
    color: rgb(250, 248, 248);
    line-height: 32px;
    font-size: 35px;
  }
  
  .openNav .hamburger:before {
      content:"\2715"; /* close icon */
      display: block;
    color: rgb(11, 65, 241);
    line-height: 32px;
    font-size: 35px;
  }
  
  .hamburger:hover:before {
    color: rgb(239, 245, 244);
  }
  
  .primary-nav .menu li {
      position: relative;
  }
  
  .menu .icon {
    position: absolute;
    top: 24px;
    right: 10px;
    pointer-events: none;
    width: 30px;
    height: 30px;
    color: #ddd;
  }
  
  .menu,
  .menu a,
  .menu a:visited {
    color: #FFFACD;
    text-decoration: none!important;
    position: relative;
  }
  
  .menu a {
    display: block;
    white-space: nowrap;
    padding: 1em;
    font-size: 20px;
  }
  
  .menu a:hover {
      /* color: rgb(7, 7, 7); */
      color: navy;
  }
  
  .menu {
      margin-bottom: 3em;
  }
  
  .menu-dropdown li .icon {
      color: rgb(247, 242, 242);
  }
  
  .menu-dropdown li:hover .icon {
      /* color:  rgb(7, 7, 7); */
      color: navy;
  }
  
  
  .openNav .new-wrapper {
    position: absolute;
    transform: translate3d(200px, 0, 0);
    width: calc(100% - 250px);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
  
  
  .menu {
      position: absolute;
      display: block;
      left: -200px;
      top: 0;
      width: 250px;
      transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
    /* background-color: #1E90FF; */
      background: rgb(42, 62, 243);
      z-index: 999;
      height: 1000px;
      border-radius: 5px;
  }
  
  .menu-dropdown {
    top: 0;
    overflow-y: auto;
  }
  
  .overflow-container {
    position: relative;
    height: calc(100vh - 73px)!important;
    overflow-y: auto;
    border-top: 73px solid #fff;
    z-index: -1;
    display:block;
  }
  
  .menu a.logotype {
    position: absolute!important;
    top: 11px;
    left: 55px;
    display: block;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    color: #000;
    font-size: 21px;
    padding: 10px;
    
  }
  
  .menu a.logotype span {
    font-weight: 400;
  }
  
  .menu a.logotype:hover {
    color: #777;
  }
  
  .sub-menu-dropdown {
      background-color: #333;
  }
  
  .menu:hover {
      position: absolute;
      left: 0;
      top: 0;
  }
  
  .openNav .menu:hover {
      position: absolute;
      left: -200px;
      top: 73px;
  }
  
  .openNav .menu {
    top: 73px;
    transform: translate3d(200px, 0, 0);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
  }
      
 
  
  /* look and feel only, not needed for core menu*/
  
  @-webkit-keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
      
  }
  
  @keyframes grow {
      
    0% {
      display: none;
      opacity: 0;
    }
    50% {
      display: block;
      opacity: 0.5;
    }
    100% {
      opacity: 1
    }
      
  }
  
 
  
  /* Resposive Typography */
  
  
  body,
  button,
  input,
  select,
  optgroup,
  textarea {
      color: #000;
      font-size: 1em;
      line-height: 1.5;
      font-weight: 300;
  }
  

  
  
  
 
  
  
  
  
  