<!-- <p>watch works!</p> -->

<app-admin-side-bar></app-admin-side-bar>


<div class="w3-clouds w3-display-container divNisya" style="margin-left:5.7%;height:80vh;" id="infoDiv" name="commonDivName">
    <div class="w3-display-middle" style="width:70%;">
        <div class="w3-white" style="box-shadow: 0px 1px 2px 2px black;">
            <header class="w3-container w3-flat-belize-hole">
                <h2 class="fontSourceSansPro w3-text-white">Watch<span id="userName"></span></h2>
            </header>
            <br>
            <div class="w3-container w3-padding-16 w3-center">
                <label for="electrician" style="float: left; padding: 5px; font-size: 25px;">In Progress Works</label>
                <table id="table" class="table table-borderedless table-striped">
                    <thead>
                        <tr>
                            
                            <th>Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr *ngFor="let approved of allApproved">
                            <td>{{approved.handyman}}</td>
                            <td>{{approved.phoneNumber}}</td>
                            <td>{{approved.email}}</td>
                            <td>{{approved.status}}</td>
                            <td>{{approved.time}}</td>
                           
                        </tr>
                       
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

