<!-- <p>watch works!</p> -->
<app-admin-side-bar></app-admin-side-bar>

<div class="w3-flat-clouds w3-display-container" style="margin-left:20%;height:80vh;max-height:80vh;overflow-y: scroll;"
    id="watchDiv" name="commonDivName">
    <div class="w3-center" style="width:90%;margin:0 auto;">
        <header class="w3-container w3-flat-belize-hole" style="width:100%;">
            <h2 class="fontSourceSansPro w3-text-white">Watch</h2>
        </header>
    </div>
    <div style="width:90%;margin:0 auto;">
        <div class="fontSourceSansPro w3-margin-top">
            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole w3-margin-top">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">Electrician</h5>
                </header>
            </div>
            <div id="watchDivElectrician" class="w3-margin-top">

            </div>

            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">Carpenter</h5>
                </header>
            </div>
            <div id="watchDivCarpenter" class="w3-margin-top">

            </div>

            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">Others</h5>
                </header>
            </div>
            <div id="watchDivOthers" class="w3-margin-top">

            </div>
        </div>
    </div>
</div>