<!-- <p>lodge works!</p> -->

<app-tenant-side-bar></app-tenant-side-bar>

<div class="new-wrapper">

    <div id="main">

        <div id="main-contents">


            <div class="w3-flat-clouds w3-display-container" style="margin-left:20%;min-height:80vh;" id="lodgeDiv"
                name="commonDivName">
                <div class="w3-display-middle" style="width:70%;">
                    <div class="w3-white">
                        <header class="w3-container w3-flat-belize-hole">
                            <h2 class="fontSourceSansPro w3-text-white">Lodge a complaint</h2>
                        </header>
                        <div class="w3-container fontSourceSansPro">
                            <form id="lodgeForm" name="lodgeForm" method="post" action="/userLodge">
                                <input id="tenant_id" name="tenant_id" value="" style="display:none;">
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-list-ul"></i></div>
                                    <div class="w3-rest">
                                        <select class="w3-select fontSourceSansPro" style="background-color: white;"
                                            name="type" id="type" required>
                                            <option value="" disabled selected>Choose your complaint type</option>
                                            <option>apartment</option>
                                            <option>personnel</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-lightbulb-o"></i></div>
                                    <div class="w3-rest">
                                        <select class="w3-select fontSourceSansPro" style="background-color: white;"
                                            id="equipment" name="subject" required>
                                            <option value="" disabled selected>Choose Equipment</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-user-o"></i></div>
                                    <div class="w3-rest">
                                        <input class="w3-input fontSourceSansPro" id="assistance"
                                            style="background-color:transparent;" value="None" readonly name="category"
                                            required>
                                    </div>
                                </div>
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-clock-o"></i></div>
                                    <div class="w3-rest">
                                        <select class="w3-select  fontSourceSansPro" style="background-color: white;"
                                            id="slot" name="time_slot" required>
                                            <!-- AM -->
                                            <option>1:00-2:00AM</option>
                                            <option>2:00-3:00AM</option>
                                            <option>3:00-4:00AM</option>
                                            <option>4:00-5:00AM</option>
                                            <option>5:00-6:00AM</option>
                                            <option>6:00-7:00AM</option>
                                            <option>7:00-8:00AM</option>
                                            <option>8:00-9:00AM</option>
                                            <option>9:00-10:00AM</option>
                                            <option>10:00-11:00AM</option>
                                            <option>11:00-12:00AM</option>
                                            <!-- PM -->
                                            <option>12:00-1:00PM</option>
                                            <option>1:00-2:00PM</option>
                                            <option>2:00-3:00PM</option>
                                            <option>3:00-4:00PM</option>
                                            <option>4:00-5:00PM</option>
                                            <option>5:00-6:00PM</option>
                                            <option>6:00-7:00PM</option>
                                            <option>7:00-8:00PM</option>
                                            <option>8:00-9:00PM</option>
                                            <option>9:00-10:00PM</option>
                                            <option>10:00-11:00PM</option>
                                            <option>11:00-12:00PM</option>
                                            <option>12:00-1:00AM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-pencil"></i></div>
                                    <div class="w3-rest">
                                        <select class="w3-select  fontSourceSansPro" style="background-color: white;"
                                            id="assistance" name="description" required>
                                            <option>Broken</option>
                                            <option>Replace</option>
                                            <option>Bolt and Latch</option>
                                            <option>Electric Fault</option>
                                            <option>Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w3-row w3-section">
                                    <div class="w3-col m2 s4"><i class="w3-xxlarge fa fa-commenting-o"></i></div>
                                    <div class="w3-rest">
                                        <textarea class="w3-input fontSourceSansPro" name="descriptionFull"
                                            placeholder="Tell us more about the problem"></textarea>
                                    </div>
                                </div>
                                <div class="w3-center ">
                                    <input type="submit" id="submitLodge"
                                        class="w3-button w3-flat-belize-hole w3-hover-blue" style="margin-top:2em;"
                                        value="Lodge">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>