<!-- <p>info works!</p> -->
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <!-- <th>Welcome {{info.status}}</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <tr><i class="fa fa-user-o" style="font-size:24px"></i></tr>
                <tr><i class="fa fa-info-circle" style="font-size:24px"></i></tr>
            </tr> -->
            <tr>
                <th scope="row">2</th>
                <td><i class="fa fa-user-o" style="font-size:24px"></i></td>
                <td><i class="fa fa-info-circle" style="font-size:24px"></i></td>
                <td>@fat</td>
              </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
