<!-- <p>work works!</p> -->

<app-handy-man-side-nav></app-handy-man-side-nav>

<div class="w3-clouds w3-display-container divNisya" style="margin-left:5.8%;height:80vh;" id="infoDiv"
    name="commonDivName">
    <div class="w3-display-middle" style="width:70%;">
        <div class="w3-white" style="box-shadow: 0px 1px 2px 2px black;">
            <header class="w3-container w3-flat-belize-hole">
                <h2 class="fontSourceSansPro w3-text-white">Work<span id="userName"></span></h2>
            </header>
            <br>

            <form>
                <div class="w3-container w3-padding-16 w3-center">
                    <table id="table" class="table table-borderedless table-striped">
                        <thead>
                            <tr>

                                <th>Room No.</th>
                                <th>Problem</th>
                                <th>Tenants Phone Number</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let work of works">
                                <td>{{work.user.roomNumber}}</td>
                                <td>{{work.problem}}</td>
                                <td>{{work.user.phoneNumber}}</td>
                                <td>{{work.status}}</td>
                                <td><input type="checkbox" class="" name="ids"  #check (change)="addId(work.id, check.checked)" ngModel></td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-primary" id="updateStatus_id" name="updateStatus"
                        style="float: right; padding: 8px;" (click)="updateStatus()" [disabled]="lisofIds.length == 0" >Update Status</button>
                </div>
            </form>
        </div>

    </div>
</div>

