<!-- <p>work works!</p> -->

<!-- <app-handy-man-side-nav></app-handy-man-side-nav> -->

<div class="w3-flat-clouds w3-display-container" style="margin-left:20%;min-height:80vh;overflow-y: scroll;"
    id="workDiv" name="commonDivName">
    <div style="width:90%;margin:0 auto;" class="w3-center">
        <header class="w3-container w3-flat-belize-hole">
            <h2 class="fontSourceSansPro w3-center w3-text-white">Today's Work</h2>
        </header>
    </div>
    <div style="width:90%;margin:0 auto;">
        <div class="fontSourceSansPro w3-margin-top">
            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole w3-margin-top">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">10:00-12:00</h5>
                </header>
            </div>
            <div id="workDivChildSlot1" class="w3-margin-top">

            </div>

            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">13:00-15:00</h5>
                </header>
            </div>
            <div id="workDivChildSlot2" class="w3-margin-top">

            </div>

            <div class="w3-center">
                <header class="w3-container w3-tag w3-center w3-flat-belize-hole">
                    <h5 class="fontSourceSansPro w3-center w3-text-white">16:00-18:00</h5>
                </header>
            </div>
            <div id="workDivChildSlot3" class="w3-margin-top">

            </div>
        </div>
    </div>
    <div id="id01" class="w3-modal w3-card-4" style="background-color: rgba(0,0,0,0);">
        <div class="w3-modal-content w3-center w3-animate-right" style="background-color: rgba(0,0,0,0);">

            <div class="w3-container w3-padding-16 w3-bar" style="background-color: rgba(0,0,0,0.5);">
                <input style="display:none;" id="otp_id" name="otp_id" value="0">
                <div class="w3-bar-item"><input class="w3-input" id="otp_value" name="otp_value" type="number"></div>
                <div class="w3-bar-item"><button class="w3-button w3-right w3-hover-green w3-flat-emerald"
                        id="otpSolved" type="submit">Submit</button></div>
            </div>
        </div>
    </div>
</div>
