<!-- <p>tenant-side-bar works!</p> -->

<div class="primary-nav">

    <button href="#" class="hamburger open-panel nav-toggle">
        <span class="screen-reader-text"></span>
    </button>

    <nav role="navigation" class="menu">

        <a href="#" class="logotype">AMR<span>System</span></a>

        <div class="overflow-container">

            <ul class="menu-dropdown">

               
                <li><a routerLink="/tenantInfo">Info</a><span class="icon"><i class="fa fa-info" style="font-size:20px"></i></span></li>
                <hr>
                <li><a routerLink = "/lodge">Lodge</a><span class="icon"><i class="	fa fa-wrench" style="font-size:20px"></i></span></li>
                <hr>
                <li><a routerLink = "/tenantHistory">History</a><span class="icon"><i class="fa fa-history" style="font-size:20px"></i></span></li>
                <hr>
                <li><a (click)="logOut()">Logout</a><span class="icon"><i class="fa fa-sign-out" style="font-size:20px"></i></span></li>

            </ul>

        </div>

    </nav>

</div>
